<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
          <td *ngIf="beer.stock>0"><img [src]="beer.image" [alt]="beer.name"></td>
          <td *ngIf="beer.stock>0">{{beer.name}}</td>
          <td *ngIf="beer.stock>0">{{beer.style}}</td>
          <td *ngIf="beer.stock>0">{{beer.price | currency:'ARS'}}</td>
          <td *ngIf="beer.stock>0">{{beer.stock}}</td>
      </tr>
    </tbody>
  </table>