<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let beer of beers">
        <tr *ngIf="beer.stock>0" [ngClass]="{'clearance': beer.clearance}">
            <td><img [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.style}}</td>
            <td>{{beer.price | currency:'ARS'}}</td>
            <td>{{beer.stock}}</td>
            <td>
              <div class="input-group input-group-sm mb-3">
                <button type="button" class="btn btn-light btn-sm" (click)="downQuantity(beer)">-</button>
                <input class="form-control form-control-sm" type="number" [(ngModel)]="beer.quantity" (focusout)="verifyBeerQuantity(beer)"/>
                <button type="button" class="btn btn-light btn-sm" (click)="upQuantity(beer)" >+</button>
              </div>
            </td>
        </tr>
      </ng-container>
    </tbody>
  </table>