<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img [src]="beer.image" [alt]="beer.name"></td>
        <td>{{beer.name}}</td>
        <td>{{beer.style}}</td>
        <td>{{beer.price}}</td>
        <td>{{beer.stock}}</td>
      </tr>
      <tr>
        <td>No Image</td>
        <td>La Rubia</td>
        <td>Golden Ale</td>
        <td>$150</td>
        <td>200</td>
      </tr>
      <tr>
        <td>No Image</td>
        <td>Red Red Wine</td>
        <td>Barlywine</td>
        <td>$250</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>